<section id="one">
 <div class="inner">
   <header class="major">
     <h2>HUR DET FUNGERAR</h2>
   </header>
   <section id="concept">
     <section>
	<i class="icon alt fas fa-box" ></i>   
        <header class="major">
          <h2>1. Platta till och vik ihop</h2>
	  <p>Vik ihop och platta till wellförpackningarna så tar de mindre plats. Lägg gärna mindre förpackningar i större.</p>
        </header>
     </section>     
     <section>
	<i class="icon alt fas fa-mobile-alt" ></i>     
	<header class="major">
	  <h2>2. Boka upphämtning</h2>
      	  <p>Boka upphämtning genom vår APP. Måste du bifoga ett läsbart foto av ditt köpkvitto.</p>
    	</header>
     </section>
     <section>
	<i class="icon alt fas fa-truck" ></i>   
   	<header class="major">
          <h2>3. Upphämtning</h2>
	  <p>Vi hämtar din wellförpackningar.Din wellpappförpackningar blir nytt pappersmaterial.</p>
        </header>
     </section>
   </section>
 </div>
</section>
