<section id="one">
 <div class="inner">
   <header class="major">
     <h2>HUR DET FUNGERAR</h2>
   </header>
   <section id="concept">
     <section>
	<i class="icon alt fas fa-mobile-alt" ></i>     
	<header class="major">
          <h2>1. Boka tid via APPen</h2>
      	  <p> Med APPen kan du boka hämtningar vardagar kl. 17-21. </p>
    	</header>
     </section>
     <section>
	<i class="icon alt fas fa-truck" ></i>   
   	<header class="major">
          <h2>2. Upphämtning</h2>
	  <p>Vi hämtar din källsortering vid din bostad. Delar upp ditt skräp i våra påsar. Plast till plast, metall till metall, papper till papper och så vidare. </p>
        </header>
     </section>
     <section>
	<i class="icon alt fas fa-recycle" ></i>   
        <header class="major">
          <h2>3. Spara på miljön</h2>
	  <p>Vi hämtar återvinning hos dig och dina grannar och jobbar lokalt. Vi kör iväg återvinningen till återvinningsstationen endast när den är full. Din skräp blir snart en ny råvara. </p>
        </header>
     </section>
   </section>
 </div>
</section>
