<section id="one">
 <div class="inner">
   <header class="major">
     <h2>HUR DET FUNGERAR</h2>
   </header>
   <section id="concept">
     <section>
	<i class="icon alt fas fa-mobile-alt" ></i>     
	<header class="major">
      	  <h2>Step1</h2>
    	</header>
     </section>
     <section>
	<i class="icon alt fas fa-truck" ></i>   
   	<header class="major">
          <h2>Step2</h2>
        </header>
     </section>
     <section>
	<i class="icon alt fas fa-recycle" ></i>   
        <header class="major">
          <h2>Step3</h2>
        </header>
     </section>
   </section>
 </div>
</section>
